{%extends  'base.html' %}


{%block head%}

{%endblock%}

{%block body%}
<div class="loader hide">
    <img src={{url_for('static', filename='images/loader.svg')}} alt="Loading">
</div>
<header>
    <span class="header-title">Todos</span>
</header>
<div class="form-wrapper">
    <div class="form-area">
        <form >
            <div class="input-wrapper">
                <label>Title</label>
                <input type="text" name="title" oninput="handleInputs(this)" maxlength="16" required>
            </div>
            <div class="input-wrapper">
                <label>Description</label>
                <textarea name = "body" oninput="handleInputs(this)" required maxlength="40"></textarea>
            </div>
            <div class="btn-wrapper">
                <button type="button" onclick="handleSubmit()">Submit todo</button>
            </div>
        </form>
    </div>
</div>
<div class="create-action">
    <i class="fas fa-plus-circle"></i>
</div>
<div class="todo-lists-wrapper"> 
    <ul id="todo-lists">
    <ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" ></script>
<script src="https://kit.fontawesome.com/e3d540c71b.js" crossorigin="anonymous"></script>
<script src={{url_for('static', filename='js/todos.js')}}></script>
{%endblock%}